//
//  config.xcconfig
//  MicroblinkPlatformSDK
//
//  Created by Jura Skrlec
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Version settings
SDK_VERSION = 1.10.1
MARKETING_VERSION = 1.10.1
CURRENT_PROJECT_VERSION = 1.10.1

// Strip settings
STRIPFLAGS = "-rSTx"
DEPLOYMENT_POSTPROCESSING = YES
STRIP_STYLE = non-global
STRIP_SWIFT_SYMBOLS = YES
